.title{
    color: #FF6F0F;
}
.header-section{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.header-section .navbar{
    background-color: #343a40 !important;
}
.menu-box{
    display: flex;
    align-items: center;
}
.menu-box ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.menu-box > ul > li{
    font-weight: bold;
    margin: 0 12px;
    font-size: 20px;
    cursor: pointer;
}

.menu-box > ul > li a{
    text-decoration: none;
}

.menu-box > ul > li a:hover{
    color: #FF6F0F;
}
.donate-button{
    width: 140px;
    height: 48px;
    font-size: 16px;
    border: 1px solid #FF6F0F;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: #FF6F0F;
}
.donate-button:hover{
    background-color: #FF6F0F;
    color: #fff;
}
.donate-button-2{
    width: 200px;
}
.customize-table{
    border: 1px solid red;
    width: 100%;
}
.customize-table tr th{
    text-align: left;
    border-bottom: 1px solid red;
    background-color: lightgreen;
    padding: 8px;
}

.customize-table tr td{
    padding: 12px;
    border: 1px solid red;
}
.name{
    background-color: blue;
    color: #fff
}

.own-class thead tr th{
    background-color: #000;
    color: #fff
}
.outerBox{
    padding: 20px;
}
.innerBox{
    height: 40px;
    width: 100%;
    border-bottom: 5px solid #FF6F0F;
    border-radius: 6px;
}
.learn-button{
    background: #FF6F0F;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 152px;
    text-decoration: none;
}
.learn-button:hover{
    background: #fff;
    color: #FF6F0F;
    border: 1px solid #FF6F0F
}
.button-icon{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: #fff !important;
}
.color-class{
    color: #FF6F0F;
}
.second-button{
    background: #fff;
    border: 1px solid #FF6F0F;
    color: #FF6F0F;
}
.second-button:hover{
    background: #FF6F0F;
    color: #fff;
}
.button-icon-2{
    background: #FF6F0F
}
.white-color{
    color: #fff;
}
.heading{
    text-align: center;
    color: #FF6F0F
}
.heading-2{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.card-heading{
    margin: 12px 0;
}

.card-style{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.main-heading{
    text-align: center;
}

.section-3{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-desc{
    text-align: center;
}

.main-heading-type-2{
    text-align: center;
}
.straight-line{
    width: 200px;
    height: 4px;
    background-color: #FF6F0F;
}
.line-1{
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.percent-container{
    width: 35px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #FF6F0F;
}
.line-2{
    margin-left: 80px;
    margin-top: 40px;
    width: 235px;
    height: 4px;
    position: relative;
    background-color: #FF6F0F;
}
.percent-2{
    top: -8px;
    right: 0;
    position: absolute;
}
.line-3{
    margin-top: 40px;
    margin-left: 80px;
    width: 235px;
    border-bottom: 4px solid #FF6F0F;
}
.position3{
    top: -8px;
    right: 0;
    position: absolute;
}
.line-4{
    position: relative;
    width: fit-content;
}
@media screen and (min-width: 768px){

}

@media screen and (min-width:360px) {
    .heading-2{
        font-size:20px;
    }
}

@media screen and (min-width:540px) {
    .heading-2{
        font-size:28px;
    }
}

@media screen and (min-width:1024px) {
    .heading-2{
        font-size:36px;
    }
}
@media screen and (min-width:1280px) {
    .heading-2{
        font-size:48px;
        color: red;
    }
}

@media screen and (max-width: 1280px) {
    .heading-2{
        font-size:48px;
        color: red;
    }
}

@media screen and (max-width: 1024px) {
    .heading-2{
        font-size:36px;
        color: red;
    }
}