.title{
    color: #FF6F0F;
}
.header-section{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.header-section .navbar{
    background-color: #343a40 !important;
}
.menu-box{
    display: flex;
    align-items: center;
}
.menu-box ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.menu-box > ul > li{
    font-weight: bold;
    margin: 0 12px;
    font-size: 20px;
    cursor: pointer;
}

.menu-box > ul > li a{
    text-decoration: none;
}

.menu-box > ul > li a:hover{
    color: #FF6F0F;
}
.donate-button{
    width: 140px;
    height: 48px;
    font-size: 16px;
    border: 1px solid #FF6F0F;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: #FF6F0F;
}
.donate-button:hover{
    background-color: #FF6F0F;
    color: #fff;
}
.donate-button-2{
    width: 200px;
}
.customize-table{
    border: 1px solid red;
    width: 100%;
}
.customize-table tr th{
    text-align: left;
    border-bottom: 1px solid red;
    background-color: lightgreen;
    padding: 8px;
}

.customize-table tr td{
    padding: 12px;
    border: 1px solid red;
}
.name{
    background-color: blue;
    color: #fff
}

.own-class thead tr th{
    background-color: #000;
    color: #fff
}
.outerBox{
    padding: 20px;
}
.innerBox{
    height: 40px;
    width: 100%;
    border-bottom: 5px solid #FF6F0F;
    border-radius: 6px;
}
.learn-button{
    background: #FF6F0F;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 152px;
    text-decoration: none;
}
.learn-button:hover{
    background: #fff;
    color: #FF6F0F;
    border: 1px solid #FF6F0F
}
.button-icon{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: #fff !important;
}
.color-class{
    color: #FF6F0F;
}
.second-button{
    background: #fff;
    border: 1px solid #FF6F0F;
    color: #FF6F0F;
}
.second-button:hover{
    background: #FF6F0F;
    color: #fff;
}
.button-icon-2{
    background: #FF6F0F
}
.white-color{
    color: #fff;
}
.heading{
    text-align: center;
    color: #FF6F0F
}
.heading-2{
    text-align: center;
    font-weight: bold
}